<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Dona Val | Moda Online Feminina - Faça seu pedido de forma simples e rápida!</title>

        <link rel="icon" href="img/favcon.jpg" sizes="32x32"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
        <header>
            <div>
                <a href="https://chat.whatsapp.com/JZqnztZDbDOHbjkFL9WLj0" target="_blank"><i class="fa fa-whatsapp"></i> WhatsApp</a>
                <a href="https://www.facebook.com/valeria.bastosdv" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="https://www.instagram.com/donavalporencomenda/" target="_blank;"><i class="fa fa-instagram"></i> Instagram</a>
            </div>

            <span>
                Entre no nosso grupo de WhatsApp!
            </span>
        </header>

        <nav>
            <h1>DONA VAL</h1>
            
            <div id="nav-links">
                <a href="?p=novidades">Início</a>
                <a href="?p=sobre">Sobre</a>
                <a href="?p=contato">Contato</a>
            </div>

            <button id="nav-menu" onclick="showNav()">
                <span class="material-icons">menu</span>
            </button>
        </nav>